@import 'variables';

// General styles
body {
    font-family: "Onest", sans-serif;
    margin: 0;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0;

    &__logo {
        padding: 8px 0px;

        &>img {
            display: block;
            max-width: 175px;
            height: auto;
        }
    }
}

.checkout-present {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    background: $--white;
    border: 1px solid $--light-gray;
    border-radius: 12px;

    &__image {
        max-width: 100%;
        height: auto;
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $--green;
    }

    &__desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $--black;
        margin-bottom: 4px;
    }
}

// Checkout form styles
.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 12px;

    #checkoutForm {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $--black;
        margin: 0;
    }

    &__group {
        position: relative;
        width: 100%;
    }

    &__input {
        padding: 22px 16px 8px 16px;
        background: $--surface-light-grey;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: $--black;
        border: none;
        width: 100%;
        outline: none;
        box-sizing: border-box;

        &.validated {
            background: $--surface-green;

            ~.checkout-form__label {
                color: $--green;
            }

            ~.checkout-form__checkmark {
                opacity: 1;
            }
        }

        &.error {
            background: $--surface-red;

            ~.checkout-form__label {
                color: $--red;
            }
        }
    }

    &__label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        padding: 0 5px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        color: $--gray;
        pointer-events: none;
        transition: all 0.2s ease;
    }

    &__checkmark {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url('../public/images/check.svg') no-repeat center center;
        background-size: contain;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &__input:focus+label,
    &__input.filled+label {
        top: 0;
        font-size: 12px;
        transform: translateY(calc(100% - 12px));
    }

    &__checkbox {
        margin-right: 10px;
    }

    &__label {
        font-size: 14px;
        cursor: pointer;
    }

    &__group--hidden {
        display: none;
    }

    &__note {
        font-size: 14px;
        margin-top: 20px;
    }

    &__submit {
        padding: 10px 20px;
        background-color: $primary-color;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}