// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;

$--black: #19191B;
$--white: #fff;

$--green: #049854;
$--surface-green: #E2F5EB;

$--gray: #84878C;
$--light-gray: #B0B0B0;
$--surface-light-grey: #F0F0F0;
$--red: #F7364D;
$--surface-red: #FFEBEB;